
.app {
  text-align: center;
  height: 100%;
  /* background: #303030; */
}


.appBar{
    /* background: #232526; */
    /* background: -webkit-linear-gradient(to right, #232526, #414345); */
    /* background: linear-gradient(to right, #232526, #414345);  */
}


.boardBox{
    background-color: #424242;
}


.boardButtons{
    background-color: #424242;
}

.boardSideBar{
    background-color: #424242;
    width : 10% ;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}



.boardSideBar .boardSideBarButtonContainer {
    /* background-color: hotpink; */
    height: 10%;
    margin-top: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardSideBarButton {
    width: 90% ;
    /* background-color: gray; */
}
